#menu_button{
float: right;
}

header {
  height: 50px;
  width: 100%;
  background: rgb(165, 165, 165);
  opacity: 1;
}

#content{
  margin-top: 70px;
  background: rgb(230, 185, 185);
}
mat-toolbar {
  position: sticky;
  top: 50px;
  z-index: 3;
}

mat-toolbar {
  top: 0;
  position: fixed;
  --default-height: 50px;
}




