<mat-toolbar class="fixed-header">
  <header>
    <mat-card class="navHeader"> <!-- [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}"-->
      <button mat-button routerLink="map">Map</button>
      <button mat-button routerLink="dashboard">Dashboard</button>
      <button mat-button routerLink="about">About</button>
      <button id="menu_button" mat-icon-button><mat-icon>menu</mat-icon></button>
    </mat-card>
  </header>
</mat-toolbar>


<section id="content">
  <router-outlet></router-outlet>
</section>

